@import "twitter/bootstrap";

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

body {
  background: url(background.png);
}

.content {
  width: 940px;
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  .rounded-corners;
  .box-shadow(2px, 5px, 10px);
}

.logo {
  text-align: center;
  h1 {
    font-size: 68px;
  }
}

.row {
  margin-bottom: 10px;
}

#regex {
  width: 795px;
}

#options {
  width: 90px;
}

#test {
  width: 450px;
}

#modifiers {
  text-align: center;
  p {
    display: inline;
    margin: 0 10px;
  }
}

.regex-delimiter {
  display: inline;
  font-size: 20px;
  font-weight: bold;
}

#results {
  background: #fafafa;
  padding: 12px;
  border: 1px solid #efefef;
  margin: 12px 0;
}

#footer {
  margin-top: 12px;
  text-align: center;
  color: #fff;
  a {
    margin: 0 12px;
    color: #00A3B0;
  }
}
